
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #a2c2e6, #f5d6ba);
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}